Makefile
Makefile.in
Makefile.in.in
configure
config.log
config.status
aclocal.m4
autom4te.cache/
data/*.json
po/gnome-shell-extensions.pot
po/POTFILES
po/stamp-it
staging/
zip-files/

*~
*.gmo
metadata.json
*.desktop
*.desktop.in
*.gschema.xml
*.gschema.valid
*.session
