image: registry.gitlab.gnome.org/gnome/gnome-shell/extension-ci:v1

stages:
 - commit_check
 - source_check
 - build

variables:
 LINT_LOG: "eslint-report.txt"

.only_default: &only_default
    only:
        - branches
        - tags
        - merge_requests

check_commit_log:
    stage: commit_check
    script:
        - ./.gitlab-ci/check-commit-log.sh
    only:
        - merge_requests

eslint:
  stage: source_check
  script:
    - sh lint/generate-report.sh -o $LINT_LOG || { cat $LINT_LOG; false; }
  <<: *only_default
  artifacts:
    paths:
      - ${LINT_LOG}
    when: on_failure

build-shell-extensions:
  stage: build
  before_script:
    - dnf install -y meson gettext mozjs60-devel
  script:
    - meson _build .
    - ninja -C _build test install
  <<: *only_default
