.bottom-panel {
  height: 32px;
}

.window-list {
  spacing: 2px;
  font-size: 10pt;
}

.window-button {
  padding: 1px;
}

.window-button:first-child:ltr {
  padding-left: 2px;
}

.window-button:last-child:rtl {
  padding-right: 2px;
}

.window-button > StWidget {
  max-width: 250px;
  color: #bbb;
  background-color: black;
  border-radius: 4px;
  padding: 3px 6px 1px;
  box-shadow: inset 1px 1px 4px rgba(255,255,255,0.5);
  text-shadow: 1px 1px 4px rgba(0,0,0,0.8);
  spacing: 4px;
}

.window-button:hover > StWidget {
  color: white;
  background-color: #1f1f1f;
}

.window-button:active > StWidget,
.window-button:focus > StWidget {
  box-shadow: inset 2px 2px 4px rgba(255,255,255,0.5);
}

.window-button.focused > StWidget {
  color: white;
  box-shadow: inset 1px 1px 4px rgba(255,255,255,0.7);
}

.window-button.focused:active > StWidget {
  box-shadow: inset 2px 2px 4px rgba(255,255,255,0.7);
}

.window-button.minimized > StWidget {
  color: #666;
  box-shadow: inset -1px -1px 4px rgba(255,255,255,0.5);
}

.window-button.minimized:active > StWidget {
  box-shadow: inset -2px -2px 4px rgba(255,255,255,0.5);
}

.window-button-icon {
  width: 24px;
  height: 24px;
}

.window-list-workspace-switcher {
  spacing: 6px;
}

.window-list-workspace-button {
  min-width: 2.5em;
  color: #ccc;
  transition-duration: 100;
  border: 1px;
  border-color: #ccc;
  padding: 0 2px;
}

.window-list-workspace-button:outlined {
  padding: 0 1px;
  border: 2px solid white;
  background: #222;
  font-weight: bold;
}

.window-list-workspace-button:hover {
  color: white;
  text-shadow: black 0px 2px 2px;
}