.bottom-panel {
  /* .window-button-icon height +
     .window-button vertical padding +
     .window-button > StWidget vertical padding) */
  height: 2.25em;
}

.window-list {
  spacing: 2px;
  font-size: 10pt;
}

.window-button {
  padding: 0;
  color: #CCC;
}

.window-button:first-child:ltr {
  padding-left: 2px;
}

.window-button:last-child:rtl {
  padding-right: 2px;
}

.window-button-box {
  spacing: 4px;
}

.window-button > StWidget {
  -st-natural-width: 18.75em;
  max-width: 18.75em;
  padding: 3px 6px 1px;
}

.window-button:hover > StWidget {
  color: white;
}

.window-button.focused > StWidget {
  color: white;
  background-color: rgba(0, 0, 0, 0.01);
  box-shadow: inset 0 2px 0px #256ab1;
}

.window-button.minimized > StWidget {
  color: #666;
  font-weight: bold;
}

.window-button-icon {
  width: 24px;
  height: 24px;
}

.window-list-workspace-indicator {
  padding: 3px;
}

.window-list-workspace-indicator > StWidget {
  background-color: rgba(200, 200, 200, .3);
  border: 1px solid #cccccc;
}

.notification {
  font-weight: normal;
}
