/*
 * SPDX-FileCopyrightText: 2011 Erick Pérez Castellanos <erick.red@gmail.com>
 * SPDX-FileCopyrightText: 2019 Florian Müllner <fmuellner@gnome.org>
 *
 * SPDX-License-Identifier: GPL-2.0-or-later
 */

.workspace-indicator .status-label {
  padding: 0 8px;
}

.workspace-indicator .workspaces-view.hfade {
  -st-hfade-offset: 20px;
}

.workspace-indicator-menu .workspaces-view {
  max-width: 480px;
}

.workspace-indicator .workspaces-box {
  spacing: 3px;
}

.workspace-indicator-menu .workspaces-box {
  padding: 5px;
  spacing: 6px;
}

.workspace-indicator .workspace-box {
  padding-top: 5px;
  padding-bottom: 5px;
}

.workspace-indicator StButton:first-child:ltr > .workspace-box,
.workspace-indicator StButton:last-child:rtl > .workspace-box {
  padding-left: 5px;
}
.workspace-indicator StButton:last-child:ltr > .workspace-box,
.workspace-indicator StButton:first-child:rtl > .workspace-box {
  padding-right: 5px;
}

.workspace-indicator-menu .workspace-box {
  spacing: 6px;
}

.workspace-indicator-menu .workspace,
.workspace-indicator .workspace {
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #3f3f3f;
}

.workspace-indicator .workspace {
  width: 52px;
}

.workspace-indicator-menu .workspace {
  height: 80px;
  width: 160px;
}

.workspace-indicator-menu .workspace.active,
.workspace-indicator .workspace.active {
  border-color: #fff;
}

.workspace-indicator-window-preview {
  background-color: #bebebe;
  border: 1px solid #828282;
  border-radius: 1px;
}

.workspace-indicator-window-preview.active {
  background-color: #d4d4d4;
}
